body {
    padding: 0;
    margin: 0;/
}

#champsObligatoire{
	font-size : 0.8em;
	font-style: italic;
}

.red {
	color : red;
}

/* form -----------------------------------------------------------------------  */

/* login.html */

#loginFieldContainer {
    width: 500px;
    height: 250px;
    margin: auto;
    padding : 25px;
    background-color: #eeeeee;
    border: 1px solid gray;
}

#loginFieldContainer input[type=submit] {
    float: right
}

/* fin login.html */

/* index.html */

#formContainer {
	width: 500px;
    height: 500px;
    margin: auto;
	padding : 25px;
	background-color: #eeeeee;
	border: 1px solid gray;
}

/* fin index.html */


/* style général */

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=password],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
input[type=submit], input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
input[type=submit]:hover, input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}


.form-style-1 .required{
    color:red;
}

/* fin style général */

/* form end -----------------------------------------------------------------------  */

#loginWrapper {
    background-color: #eeeeee;
    text-align: right;
    padding: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid gray;
}

#retourWrapper {
    background-color: #eeeeee;
    text-align: left;
    padding: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid gray;
}

@media screen and (max-width: 640px) {
    .form-style-1 {
        max-width: 100%;
    }

    #formContainer {
        margin-top:50px;
        width: 82%;
        height: 82%;
        margin: auto;
        background-color: #eeeeee;
        border: 1px solid gray;
    }
}