preTableau input[type=button]{
    background: #231858;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    float: right;
}
preTableau input[type=button]:hover{
    background: #11073B;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
#tabContainer {
	width: 500px;
    height: 500px;
    margin: auto;
	padding : 25px;
	background-color: #eeeeee;
	border: 1px solid gray;
}
.detail{
  display: none;
}
table{
  width: 100%;

}

.nom{
  width: 40%;

}
.prenom{
  width: 40%;

}
